<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<html>
    <head>
        <meta content="text/html; charset=UTF-8">
        <link rel="stylesheet" th:href="@{/styles/common.css}" />
    </head>
    <body>
    <h2 class="title">Movie rent</h2>
    <nav th:replace="fragments :: nav"></nav>

    <h3 th:text="${customer.name}" class="title"></h3>

    <div class="center">
        <a th:href="@{/customers/__${customer.id}__/rentals/add}" class="link">New rental</a>
    </div>

    <div th:if="${customer.rentals.size > 0}">
        <h4 class="center">Rentals</h4>


        <form th:object="${customer}" th:action="@{/records/add/customers/__${customer.id}__}" method="post">

            <table class="center">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Movie</th>
                    <th>Rental date</th>
                    <th>Days rented</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rental, state : ${customer.rentals}" >
                    <td>
                        <input th:if="${rental.open}" type="checkbox" th:id="${{rental}}" th:value="${{rental}}" th:field="*{rentals}" />
                    </td>
                    <td th:text="${rental.movie.title}"  th:data-name="|/movies/${rental.movie.id}|"
                        th:onclick="setLink(this.getAttribute('data-name'))" class="link" ></td>
                    <td th:text="${#temporals.format(rental.rentedDate, 'dd&#x2011MM&#x2011yyyy HH:mm')}"></td>
                    <td th:text="${rental.daysRented}"></td>
                    <td>
                        <span th:if="${rental.open}">Open</span>
                        <span th:unless="${rental.open}">Closed</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="center">
                <input type="submit" name="send" value="Close rentals" class="">
            </div>
        </form>



    </div>


    <div th:if="${customer.rentals.size == 0}" class="center">
        <h4 >There are not any rentals yet for this customer.</h4>
    </div>

    <script type="text/javascript" th:src="@{/js/script.js}"></script>

    </body>
</html>
